.groenTemplate
  header
    margin: 1em 0em
    h1
      display: inline-block
      margin: 0em 1em
    h1.logo

    h1.pageTitle
      position: absolute
      right: 0
    nav
      margin: 0em 1em
      z-index: 100
      ul
        padding: 0
        list-style-type: none
        margin: 0
        background: white
        li
          text-align: center
          display: inline-block
          min-width: 12.5em
          &:hover ul
            display: block
          a
            border: 0.1em solid black
            padding: 0.5em 1em
            display: block
            &:hover
              text-decoration: underline
          ul
            position: absolute
            display: none
            li
              a
                border-top: none
  main
    border: 0.1em solid black
    min-height: 75vh
    max-width: 80%
    margin: 1em auto
    overflow: auto
  footer
    button.exitButton
      position: absolute
      right: 10%
      border: 0.1em solid black
      font-size: 1.3rem
      font-weight: 900
      cursor: pointer
